.caption {
  color: var(--citation);
  margin-top: 1rem;
  font-size: 1rem;
}

.figure {
  --ofset: 0;
  --opacity: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: calc(var(--offset) * 1%);
  opacity: var(--opacity);
  transition: opacity 300ms ease-in-out;
}

.svg {
  width: 60%;
}

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
