:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 4rem 6rem;
  width: var(--width);
  height: var(--height);
  min-width: var(--width);
  min-height: var(--height);
  flex: 0;
  position: relative;
}
