.slide {
  width: var(--width);
  height: var(--height);
  padding: 6rem 12rem;
  color: var(--white);
}

.title {
  font-size: 4rem;
  margin-top: 18rem;
}

.questions {
  opacity: 0.7;
  font-size: 2.5rem;
}

.questions {
  margin-top: 4rem;
}
