body {
    padding: 0;
    margin: 0;
}

#root {
  padding: 2rem;
  font-size: 0.9rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

table {
    width: 100%;
    border-spacing: 0;

    thead {
        th {
            font-weight: bold;
            text-align: left;
            border-bottom: 1px solid var(--vscode-editor-foreground);
            padding: 0.3125rem 0.625rem;
        }
    }

    tbody {
        tr td {
            border-bottom: 1px solid var(--vscode-editor-foreground);
            padding: 0.3125rem 0.625rem;
        }

        tr:last-of-type td {
            border-bottom: 0;
        }
    }
}

.diagram {
    width: 100%;
    display: flex;
    justify-content: center;;
    font-size: 14px;

    * {
        font-family: var(--vscode-font-family);
    }

    svg {
        max-width: 100%;
    }

    .node rect {
        stroke: transparent;
        fill: var(--vscode-breadcrumbPicker-background);
        transition: all ease-in-out 300ms;
        stroke-width: 2px;
    }

    .node.active rect {
        stroke: var(--vscode-focusBorder);
    }

    .edgePath path {
        stroke: var(--vscode-foreground);
        fill: var(--vscode-foreground);
        stroke-width: 1.5px;
        transition: all ease-in-out 300ms;
    }

    .edgeLabel text {
        transition: all ease-in-out 150ms;
    }

    .edgePath.taken path, .edgeLabel.taken text {
        stroke: var(--vscode-focusBorder);
        fill: var(--vscode-focusBorder);
    }
}
  
.middleware-switcher {
    display: flex;
    position: fixed;
    top: 1rem;
    right: 2rem;
    background: var(--vscode-breadcrumbPicker-background);
    height: 2rem;
    align-items: center;
    border-radius: 1rem;
}

.middleware-option {
    transition: all 400ms ease-in-out;
    padding: 0 0.6rem;
    height: 1.8rem;
    border-radius: 0.9rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: transparent;
    margin-right: 0.5rem;
}

.middleware-option.active {
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
}

.middleware-option:last-of-type {
    margin-right: 0;
}